.product_container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 320px;
  height: 390px;
  background-color: #141414;
  margin: 5px;
  padding: 5px;
  border-radius: 55px;
  /*background: linear-gradient(145deg, #2b1102, #57534f);*/
  box-shadow: 21px 21px 42px #3b3b3b, -21px -21px -42px #696969;
  border: 1px solid rgb(255, 221, 68);
  background: url('../public/blur-bg.png')
}

.product_image{
  width: 140px;
}

.product_details{
  display: flex;
  flex-direction: column;
  max-width: 95%;
}

.product_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.product_title{
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 12px;
  color: rgb(0, 12, 51);
}
.product_description{
  color:black;
}

.product_action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.product_price{
  font-size: 1.3em;
  color: navy;
  font-weight: bold;
}